{% extends "inc/base.j2" %}
{% block content %}

  <h3>proxies / {{ proxies | length }}</h3>

  <form method="GET">
    <fieldset role="group">
      <select name="source">
        <option value="">source...</option>
        {% for s in sources %}
          <option value="{{ s }}" {{ "selected" if s == query.source }}>{{ s }}</option>{% endfor %}
      </select>
      <select name="status">
        <option value="">status...</option>
        {% for s in statuses %}
          <option value="{{ s }}" {{ "selected" if s == query.status }}>{{ s }}</option>
        {% endfor %}
      </select>
      <select name="protocol">
        <option value="">protocol...</option>
        {% for p in protocols %}
          <option value="{{ p }}" {{ "selected" if p == query.protocol }}>{{ p }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="filter" class="outline">
    </fieldset>
  </form>

  <table class="sortable">
    <thead>
    <tr>
      <th>ip</th>
      <th>status</th>
      <th>source</th>
      <th>protocol</th>
      <th>ok_count</th>
      <th>down_count</th>
      <th>check</th>
      <th>url</th>
      <th>view</th>
    </tr>
    </thead>
    <tbody>
    {% for p in proxies %}
      <tr>
        <td>{{ p.ip }}</td>
        <td>{{ p.status.value }}</td>
        <td>{{ p.source }}</td>
        <td>{{ p.protocol.value }}</td>
        <td>{{ p.history_ok_count }}</td>
        <td>{{ p.history_down_count }}</td>
        <td><a href="/api-post/proxies/{{ p.id }}/check">check</a></td>
        <td><a href="/api/proxies/{{ p.id }}/url">view</a></td>
        <td><a href="/api/proxies/{{ p.id }}">view</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock %}
